<configuration>
  <appSettings>
    <add key="pythonpath" value="D:\home\site\wwwroot" />
    <add key="WSGI_HANDLER" value="web.wsgi_app" /> <!-- Reemplazar "app" con el nombre de tu archivo principal de Python. -->
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%PYTHON_HOME%\python.exe"
                  arguments="%WSGI_HANDLER%"
                  stdoutLogEnabled="true"
                  stdoutLogFile="D:\home\LogFiles\python.log"
                  processesPerApplication="16"
                  maxProcessCountPerSite="32"
                  enableXFF="false"
                  rapidFailsPerMinute="10"
                  requestTimeout="00:05:00"
                  startupTimeLimit="60"
                  startupRetryCount="10"
                  pythonStartup="--no-site-packages"
                  processShutdownTimeout="5"
                  dynamicIdleThreshold="100"
                  idleTimeout="7200">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="%PYTHONPATH%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
