.card {
    border: none;
    padding-top:40px;
  }
  
  .card-header {
    padding: 0;
  }

  .card-body {
    height: 800px;
    overflow-y: scroll;
    background-color: #DCDCDC;
    scroll-behavior: smooth;
  }

  .contexto{
    padding-top:40px;
  }
  
  .card-footer {
    border-top: none;
    padding: 0;
  }
  
  .media {
    margin-bottom: 0;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  .media img {
    height: 100px;
    width: 100px;
  }
  
  .media-body small {
    display: block;
    font-size: 0.7rem;
    padding-top: 25px;
  }
  
  #chat_messages li {
    max-width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    position: relative;
    display: inline-block; /* Agregar esta línea para mostrar los elementos en vertical */
  }
  
  #chat_messages li.from-me {
    background-color: #f5f5f5;
    float: right;
  }
  
  #chat_messages li.from-me:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #f5f5f5;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: 0;
    right: -10px;
  }
  
  #chat_messages li.from-them {
    background-color: #dcf8c6;
    float: left;
  }
  
  #chat_messages li.from-them:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #dcf8c6;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: 0;
    left: -10px;
  }
  
  form {
    width: 100%;
    float: left;
  }
  
  #chat_messages {
    float: right;
  }

  textarea[name="contexto"] {
    height: 500px;
    width: 80%;
  }

  #button_send {
    width: 100%;
    font-size: 18px;
    padding: 12px 80px;
  }

  .btn-record {
    background-color: white !important;
  }
  .btn-record-recording {
    background-color: red !important;
  }
  .btn-record i {
    color: black;
  }

  pre {
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4;
    font-family: monospace;
    font-size: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 5px;
    overflow: auto;
  }
  
  pre code {
    display: block;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    margin: 0;
  }